/* CSS variables */
:root {
  --footer-grad-height: 400px;
}

.footer {
  position: relative;
  overflow-x: hidden;
  height: var(--footer-grad-height);
}

.grad {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1920px;
  width: 100%;
  height: var(--footer-grad-height);
  background:
    linear-gradient(to bottom,#43aaef 5%, transparent),
    linear-gradient(to top left, #54D1C1 50%, transparent),
    linear-gradient(to top right, #514fff 50%, #706eff82);
}

.gradInner, .gradInner2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(ellipse at -10% 60%, #43aaef, transparent 40%),
    radial-gradient(ellipse at -10% 100%, #43aaef, transparent 20%),
    radial-gradient(ellipse at 60% 130%, #43aaef, transparent 40%),

    radial-gradient(ellipse at 100% 0%, #54D1C1, transparent 30%),
    radial-gradient(ellipse at 20% -10%, #54D1C1, transparent 40%),
    radial-gradient(ellipse at 30% 10%, #54D1C1, transparent 40%),
    radial-gradient(ellipse at 30% 100%, #54D1C1, transparent 40%),

    radial-gradient(ellipse at 60% 130%, #514fff, transparent 40%),
    radial-gradient(ellipse at 30% 100%, #524fffa1, transparent 20%),
    radial-gradient(ellipse at 0% 60%, #514fff, transparent 20%),
    radial-gradient(ellipse at 10% 0%, #514fff, transparent 30%),
    radial-gradient(ellipse at 90% -10%, #524fffa1, transparent 20%),
    radial-gradient(ellipse at 100% 10%, #524fff87, transparent 30%);
  background-blend-mode: screen;
  z-index: 2;

  opacity: 1;
  animation-name: gradAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.gradInner2 {
  transform: scaleX(-1);
  animation-name: gradAnim2;
}

@keyframes gradAnim {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes gradAnim2 {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.gradMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(357deg, transparent, transparent 49%, #fff calc(49% + 1px));
  /* background: linear-gradient(177deg, transparent, transparent 49%, #fff calc(49% + 1px)); */
  z-index: 3;
}