.layout {
  position: relative;
  min-height: 100vh;
  justify-content: flex-start;
}

.layoutMain {
  position: relative;
  /* Hacky solution to move footer to the bottom of the page */
  /* 96px = heigh of header + height of footer */
  min-height: calc(100vh - 0px);
  width: 100%;
}