.signup {
  position: relative;
  padding: 0 3rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.scroll {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: transparent;
  z-index: -1;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--cp-blue);
  font-family: var(--ff-heading);
}

.subTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 4rem;
}

.form {
  position: relative;
}

.formEmailLabel {
  position: absolute;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 60px;
  text-align: center;
  left: 1rem;
  transition: 0.4s;
  color: var(--cp-purple);
}

.emailInput {
  font-size: 1rem;
  padding: 1rem 1.25rem;
  width: 350px;
  border: 2px solid var(--cp-purple);
  border-right: none;
  border-radius: 3px 0 0 3px;
  background-color: transparent;
  z-index: 1;
}

.emailInput:focus-visible,
.emailInput:focus {
  border-color: var(--cp-purple);
  outline: none;
}

.emailInput:focus-visible + .formEmailLabel {
  color: var(--cp-purple);
}

.emailButton {
  font-size: 1rem;
  font-weight: 600;
  min-height: 58px;
  max-height: 58px;
  padding: 0.75rem 1.75rem;
  border-left: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  border: 2px solid var(--cp-purple);
  color: var(--c-white);
  background-color: var(--cp-purple);
}

.emailButton p {
  padding-right: 0.25rem;
}

.emailButton svg {
  transition: 0.4s;
}

.emailButton:hover svg {
  transform: rotate(90deg);
}

.emailFailureMessage {
  align-self: flex-start;
  min-height: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 1.33rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}