/* CSS variables */
:root {
  --example: #fff;
}

/* Set base font and background color */
html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #fff;
}

/* Positioning */
.w100 { width: 100%; }

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row { flex-direction: row; }

.flex-ai-fs { align-items: flex-start; }
.flex-ai-fe { align-items: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-fe { justify-content: flex-end; }

.flex-jc-sb { justify-content: space-between; }
.flex-jc-sa { justify-content: space-around; }
.flex-jc-se { justify-content: space-evenly; }

/* Typography */
.f-h1 { 
  font-family: sans-serif;
  color: blue;
  font-size: 2.5rem; 
}

.f-h2 { 
  font-family: sans-serif;
  color: lightblue;
  font-size: 1.5rem; 
}

.f-h3 { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1.25rem; 
}

.f-p { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1rem; 
}

.fs-lrg { font-size: 2.5rem; }
.fs-med { font-size: 1.5rem; }
.fs-reg { font-size: 1rem; }
.fs-sml { font-size: 0.75rem; }

.ff-h { font-family: sans-serif; }
.ff-p { font-family: sans-serif; }

.color-primary { color: blue; }
.color-secondary { color: lightblue; }
.color-accent { color: orange; }
.color-black { color: #252525; }
.color-white { color: #fff; }