/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

/* CSS variables */
:root {
  --c-white: #fff;
  --c-black: #444444;
  --cp-blue: #43aaef;
  --cp-green: #54d1c1;
  --cp-purple: #706eff;
  --text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  --ff-heading: 'Teko', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
}

/* Set base font and background color */
body {
  font-size: 16px;
  background-color: var(--c-white);
  font-family: var(--ff-body);
}

/* Positioning */
.w100 { width: 100%; }

.wrapper { 
  max-width: 1100px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row { flex-direction: row; }

.flex-ai-fs { align-items: flex-start; }
.flex-ai-fe { align-items: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-fe { justify-content: flex-end; }

.flex-jc-sb { justify-content: space-between; }
.flex-jc-sa { justify-content: space-around; }
.flex-jc-se { justify-content: space-evenly; }

.mb-025 { margin-bottom: 0.25rem; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-15 { margin-bottom: 1.5rem; }
.mb-2 { margin-bottom: 2rem; }

/* Typography */
.f-h1 { 
  font-family: sans-serif;
  color: #252525;  
  font-size: 2.5rem; 
}

.f-h2 { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1.5rem; 
}

.f-h3 { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1.25rem; 
}

.f-p { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1rem; 
}

.f-ps { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1rem; 
}