/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Teko:wght@500&display=swap');
/* font-family: 'Teko', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


/* CSS variables */
:root {
  --example: #fff;
  --text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Set base font and background color */
body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* Positioning */
.w100 { width: 100%; }

.wrapper { max-width: 1000px; }

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row { flex-direction: row; }

.flex-ai-fs { align-items: flex-start; }
.flex-ai-fe { align-items: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-fe { justify-content: flex-end; }

.flex-jc-sb { justify-content: space-between; }
.flex-jc-sa { justify-content: space-around; }
.flex-jc-se { justify-content: space-evenly; }

.mb-025 { margin-bottom: 0.25rem; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-15 { margin-bottom: 1.5rem; }
.mb-2 { margin-bottom: 2rem; }

/* Typography */
.f-h1 { 
  font-family: sans-serif;
  color: #252525;  
  font-size: 2.5rem; 
}

.f-h2 { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1.5rem; 
}

.f-h3 { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1.25rem; 
}

.f-p { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1rem; 
}

.f-ps { 
  font-family: sans-serif;
  color: #252525;
  font-size: 1rem; 
}